<a class="user-card gap-0-5 flex-col items-start border-card" href="<%= user_post_path(user_id: post.author_id, id: post.id) %>">
  <span>Post #<%= counter %></span>
  <span class="card-title"><%= post.title %></span>
  <span class="user-bio line-clamp-2"><%= post.text %></span>
  <span class="user-totalpost w-full">
    <% if post.comments_counter == Integer %>
      Comments: <%= post.comments_counter %>, 
    <% else %>
      Comments: 0, 
    <% end %>

    <% if post.likes_counter == Integer %>
      Likes: <%= m.likes_counter %>
    <% else %>
      Likes: 0
    <% end %>
  </span>

    <% if comments.present? %>
      <% if comments.any? %>
        <%= render partial: "comment_card", locals: {comments: comments} %>
      <% else %>
        <div class="comment-container">
          <div>No comment yet for this post</div>
        </div>
      <% end %>
    <% end %>
</a>